<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDisplayName</key>
	<string>Placi</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>placi</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>googlemaps</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Placi uses your location to show nearby places on the map.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Placi needs access to your photos to attach them to your posts.</string>
	<key>NSCameraUsageDescription</key>
	<string>Placi needs camera access to take photos for your posts.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Nunito-Regular.ttf</string>
		<string>Fonts/Nunito-Medium.ttf</string>
		<string>Fonts/Nunito-SemiBold.ttf</string>
		<string>Fonts/Nunito-Bold.ttf</string>
		<string>Fonts/Nunito-ExtraBold.ttf</string>
		<string>Fonts/Nunito-Light.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
